openapi: 3.0.0
info:
  title: Seamless
  version: '1.0'
  contact:
    name: Eyecu.Digital
  description: |-
    ## Presentation of the Seamless

    In this article we will see how the seamless flow is working.

    You will have to give us an endpoint from your system (GET Endpoint). This endpoint need to be always available, otherwise the games will not work.

    Let's take an example, as your endpoint will be : https://www.casino.pro/seamless

    ![Seamless](https://i.ibb.co/PM52N1t/seamless-structure.png)

    ### Events list
    <!-- title: Events list -->

    | Event Name |      Require answer |   Description |
    | ------------- | :-----------: | -----: |
    | getBalance      | YES | Retrive the balance of the user |
    | updateBalance      |   NO |   Update the balance of the user |
    | gameStats |   NO    |   Send a round statistic (bet, win, profit etc) |
    | gameLog |   NO    |   Send a log of the game played (game id, user id, ip etc) |
    | jackpotUpdate |   NO    |  Send a jackpot update for the player |
    | gameError |   NO    |   Send an error log if the game have any problem |

    ### Generate a Seamless token

    To generate a valid user Token, you will have to provide 2 things :

    <!-- title: Elements to provide -->
    | Param | Example | Description |
    | ------ | ------- | --------- |
    |user_id | 1 | The user id in YOUR internal system (it will be in use when the games send requests to your system) |
    | time | 1598117021 | Current timestamp |

    To be able to generate the seamless token, you need your IPN Secret. You can get it direlcty in your Shop Configuration

    #### Token  generator

    To be able to know the user id needed to play with, the system need to be able to read your token (decrypt it)

    For this, we use 'openssl' for the encryption / decryption with the **'aes-125-ctr'** method.

    The IV for this encryption will be **pHb33yWGCN4qfX7V**, always.

    The string required in this token encryption have this format :

    ```json
    user_id="YOUR_USER_ID",time="TIMESTAMP"
    ```


    Now after we have all these information, we can write our function

    (PHP)

    ```php
    $cipher_method = 'aes-128-ctr';
    $crypted_token = openssl_encrypt('user_id=10,time=1598117021', $cipher_method, "YOUR IPN SECRET", 0, 'pHb33yWGCN4qfX7V');
    $seamless_token = base64_encode($crypted_token);
    var_dump($seamless_token);
    ```
servers:
  - url: 'https://games.eyecu.digital'
    description: EyeCu Games Servers
paths:
  '/launcher/{game}/s:{shop_id}@{seamless_token}/{mode}':
    parameters:
      - schema:
          type: string
          example: CorridaRomanceWD
        name: game
        in: path
        required: true
        description: Game name
      - schema:
          type: string
          example: desktop
        name: mode
        in: path
        required: true
        description: Game mode (desktop or mobile)
      - schema:
          type: string
        name: seamless_token
        in: path
        required: true
        description: Your Seamless token
      - schema:
          type: string
        name: shop_id
        in: path
        required: true
        description: Your SHOP ID
    get:
      summary: Start a game session for the user
      tags:
        - Game session
      responses:
        '307':
          description: |-
            Temporary Redirect

            Redirect automaticly to the game
      operationId: get-launcher-game-token-mode
      description: |-
        This is not an API endpoint ! You should redirect the user (or serve it in an iframe) using this syntax.

        https://games.eyecu.digital/launcher/{game}/s:{shop_id}@{token}/{mode}

        Games name = from /api/games => use the 'name' property of the game (not the title)

        Shop ID = Your shop ID

        Token = Check 'Seamless token generation' to see how to generate it

        Mode = desktop or mobile

        ### /!\ Information for the lobby url /!\
        You can add the lobby url with : ?lobby_url={lobby_url} at the end

        For exemple :

        /launcher/NarcosNET/s:SHOP_ID@SEAMLESS_TOKEN/desktop?lobby_url=https://www.google.com (You need to write the full url with https://, http://)

        If you don't provide the lobby url, it will take by default the lobby_url enter in your shop admin configuration (default lobby url).

        If you pass the lobby url in the api when you start a game, it will prioritize it.
  /event/getBalance:
    get:
      summary: getBalance
      tags:
        - Events
      responses:
        '200':
          description: OK
      operationId: get-event-getBalance
      description: |-
        <!-- theme: info -->
        > #### This is not an endpoint

        This event is used to get the current balance of the user, this event is called inside the games in the next events:

        When the game is started

        Every 5 seconds (depend's on the game)

        Before a spin

        After a spin

        Request example to your seamless api :

        https://www.casino.pro/seamless?shop_id=1&user_id=1&event=getBalance&request_time=1598347737744

        | Param |      Description |
        | ------------- | :-----------: | -----: |
        | shop_id | Your Shop ID |
        | user_id |  Your User ID |
        | event |  getBalance |
        | request_time |  UNIX Timestamp (ms) when the request has been sent |

        This request expects a JSON response.

        | Param | Type | Example | Description
        | -------- | --------- | ------- | ------- |
        | user_id | STRING | "1" | User ID of the asked balance |
        | balance | FLOAT | 125.25 | Amount of the user balance |

        Example :

        \```json
        {
          "user_id": "1",
          "balance": 125.25
        }
        \```
  /event/updateBalance:
    get:
      summary: updateBalance
      tags:
        - Events
      responses:
        '200':
          description: OK
      operationId: get-event-updateBalance
      description: |-
        <!-- theme: info -->
        > #### This is not an endpoint

        This event is use to update the balance of the user, this event is called in the games :

        When a spin is roll

        Request example to your seamless api :

        https://www.casino.pro/seamless?shop_id=1&user_id=1&event=updateBalance&request_time=1598347737744&balance=125.25

        | Param |      Description |
        | ------------- | :-----------: | -----: |
        | shop_id | Your Shop ID |
        | user_id |  Your User ID |
        | event |  **updateBalance** |
        | request_time |  UNIX Timestamp (ms) when the request has been sent |
        | balance |  **The new balance amount** |

        This request don't need any answer
  /event/gameStats:
    get:
      summary: gameStats
      tags:
        - Events
      responses: {}
      operationId: get-event-gameStats
      description: "<!-- theme: info -->\n> #### This is not an endpoint\n\nThis event allow you to record a game roll. It will give you information about the roll done by the user\n\nRequest example to your seamless api :\n\nhttps://www.casino.pro/seamless?shop_id=1&user_id=1&event=gameStats&request_time=1598347737744&balance=125.5&bet=10&win=0&game=LuckyKenoPP&percent=0&percent_jps=0&percent_jpg=0&profit=1\n\n| Param |      Description |\n| ------------- | :-----------: | -----: |\n| shop_id | Your Shop ID |\n| user_id |  Your User ID |\n| event |  **getStats** |\n| request_time |  UNIX Timestamp (ms) when the request has been sent |\n| balance | The new balance amount |\n| bet | The amount of the bet done by the user |\n| win |  \tThe amount win by the user |\n| game | Game name played |\n| percent | Total amount saved in the bank to be return the the player (RTP adjustmement) |\n| percent_jps | Total amount save in the Slot Jackpot |\n| percent_jpg | Total amount save in the Game Jackpot |\n| profit |  Total profit make for this roll (shop profit) |\n\nThis request don't need any answer"
  /event/gameLog:
    get:
      summary: gameLog
      tags:
        - Events
      responses: {}
      operationId: get-event-gameLog
      parameters: []
      description: |-
        <!-- theme: info -->
        > #### This is not an endpoint

        This event allow you to record a game log. This game log is usefull if you want to keep a trace of the roll played (with the IP of the client)

        Request example to your seamless api :

        https://www.casino.pro/seamless?shop_id=1&user_id=1&event=gameStats&request_time=1598347737744&ip=0.0.0.0&game_id=25

        | Param |      Description |
        | ------------- | :-----------: | -----: |
        | shop_id | Your Shop ID |
        | user_id |  Your User ID |
        | event |  **gameLog** |
        | request_time |  UNIX Timestamp (ms) when the request has been sent |
        | ip | IP of the client who have played the game |
        | game_id | The Game ID Played |

        This request don't need any answer
  /event/updateJackpot:
    get:
      summary: updateJackpots
      tags:
        - Events
      responses: {}
      operationId: get-event-updateJackpot
      description: |-
        <!-- theme: info -->
        > #### This is not an endpoint

        This event is usefull if you want to get event about the jackpot update for a roll

        Everytime a roll starts, you will receive a jackpot event (if it's needed)

        Request example to your seamless api :

        https://www.casino.pro/seamless?shop_id=1&user_id=1&event=updateJackpot&request_time=1598347737744&balance=125.5&win=10&game=LuckyKenoPP%20JPG%201

        | Param |      Description |
        | ------------- | :-----------: | -----: |
        | shop_id | Your Shop ID |
        | user_id |  Your User ID |
        | event |  **updateJackpot** |
        | request_time |  UNIX Timestamp (ms) when the request has been sent |
        | balance | The new balance of the user |
        | win | Jackpot amount added |
        | game | Jackpot name (Ex : LuckyKenoPP JPG 1) |

        This request don't need any answer

        <!-- theme: info -->
        > #### This request also provide some extra parameters (bet, percent, percent_jps, percent_jpg, profit), but all these parameters will be 0, always.
  /event/gameError:
    get:
      summary: gameError
      tags:
        - Events
      responses: {}
      operationId: get-event-gameError
      description: "<!-- theme: info -->\n> #### This is not an endpoint\n\nThis event is usefull if you want to know if a game have any error\n\nRequest example to your seamless api :\n\nhttps://www.casino.pro/seamless?shop_id=1&user_id=1&event=updateJackpot&request_time=1598347737744&responseEvent=error&responseType=ERROR&serverResponse=InternalError\n\n\n| Param |      Description |\n| ------------- | :-----------: | -----: |\n| shop_id | Your Shop ID |\n| user_id |  Your User ID |\n| event |  **gameError** |\n| request_time |  UNIX Timestamp (ms) when the request has been sent |\n| responseEvent | \t\"error\" |\n| responseType | **Error description** |\n| serverResponse | \"InternalError\" |\n\nThis request don't need any answer\n\n<!-- theme: info -->\n> #### responseEvent will be always \"error\" & serverResponse will be always \"InternalError\""
components:
  schemas: {}
tags:
  - name: Events
